.container{
max-width: 1920px;
width: 100%;
margin-inline: auto;

    
}

/* header */
header{
    max-width: inherit;
    width: inherit;
    height: 130px;
    padding: 0 320px;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

ul{
    display: flex;
    gap: 68px;
    padding-left: 360px;
    margin-right: 706px;
}

nav{
    display: flex;
    
}
a{
    text-decoration: none;
    
}
.active{
    color: #DCB47A;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-style: semiBold; 
      
}

.noactive{
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-style: semiBold;
    
    
}

.fa-bag-shopping{
    color: #FFFFFF;
    font-size: 35px;
}

/* section */


.home{
    width: 100%;
    height: 1080px;
    position: relative;
    padding-top: 120px;
}

.cover{
    width: 100%;
    height: 100%;
}

.home_div{
    width: 78%;
    position: absolute;
    padding-top: 120px;
    top: 242px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-style: bold;
    font-size: 82px;  
    font-weight: 700;
    width: 1128px;
    height: 162px;
    
}

.home_text1{
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-style: regular;  
    font-size: 24px;
    font-weight: 400;
    width: 583px;
    height: 61px;
    margin-top: 161px;
    margin-bottom: 23px;
}

.search_bar{
    border: 1px solid #FFFFFF;
    width: 463px;
    height: 71px;
border-radius: 50px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgba(56, 55, 54, 0.315);

}

.search_bar_text{
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 30px;
    

}

.fa-magnifying-glass{
    color: #FFFFFF;
    font-size: 35px;
    margin-right: 10px;
}

/* section */
.section2{
    width: 70%;
    margin: 245px auto;
}

h3{
    color: #081323;
    font-family: 'Work Sans', sans-serif;
    font-size: 75px;
    font-weight: 600;

}

.cards{
    width: 100%;
    margin-top: 81px;
    display: flex;
    justify-content: space-between;

}

.card{
    border: 2px solid #DCB47A;
    width: 25%;
    height: 388px;
    padding: 30px 41px;
}

.card_img{
    width: 100%;
    height: 225px;
}

.card_text{
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.product_pic{
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 17px;
}
